---
apiVersion: v1
kind: Secret
metadata:
  name: awx-postgres-configuration
  namespace: awx
stringData:
  host: {{ pg_hostname }}
  port: "5432"
  database: lynx
  username: lynxuser
  password: {{ pg_password }}
type: Opaque
